# <p style="color: green"><%= notice %></p>

# <h1>Movies</h1>

# <table>
#   <thead>
#     <tr>
#       <th>Title</th>
#       <th>Rating</th>
#       <th>Release Date</th>
#       <th>Action</th>
#     </tr>
#   </thead>
#   <tbody>
#     <% @movies.each do |movie| %>
#       <tr>
#         <td><%= movie.title %></td>
#         <td><%= movie.rating %></td>
#         <td><%= movie.release_date %></td>
#         <td><%= link_to "Show", movie %></td>
#       </tr>
#     <% end %>
#   </tbody>
# </table>

# <%= link_to "New movie", new_movie_path %>

<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to "Title", movies_path(sort_by: 'title', order: params[:sort_by] == 'title' && params[:order] == 'asc' ? 'desc' : 'asc') %></th>
      <th><%= link_to "Rating", movies_path(sort_by: 'rating', order: params[:sort_by] == 'rating' && params[:order] == 'asc' ? 'desc' : 'asc') %></th>
      <th><%= link_to "Release Date", movies_path(sort_by: 'release_date', order: params[:sort_by] == 'release_date' && params[:order] == 'asc' ? 'desc' : 'asc') %></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show", movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>


