# <p style="color: green"><%= notice %></p>

# <h1>Movies</h1>

# <div id="movies">
#   <% @movies.each do |movie| %>
#     <%= render movie %>
#     <p>
#       <%= link_to "Show this movie", movie %>
#     </p>
#   <% end %>
# </div>

# <%= link_to "New movie", new_movie_path %>

<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Action</th> <!-- If you want an action column -->
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show", movie %></td> <!-- Add actions if needed -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>

